* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

html {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  height: 100%;
  background-color: #f7f4ef;
  color: #1a1714;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}